<h1> 编辑需求 </h1>
 <% if @requirement.errors.any? %>
    <div id="error_explanation">
    	 <% @requirement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
        <% end %>
    </div>
<div class='row'>
	<div class='span6 offset3'>
		<%= form_for(@requirement) do |f| %>

		<%=f.label :名称 %>
		<%=f.text_field :name,class:"form-control"%>

		<%=f.label :描述%>
		<%=f.text_field :description,class:"form-control"%>

		<%=f.submit "提交", class:"btn btn-large btn-primary" %>
		<%end%>
	</div>
</div>