
<divclass="span12">
<% if cookies[:user_type]=='S'%>
<div class="group">
<%= link_to("编辑", edit_requirement_path(@requirement) , :class => "btn btn-mini btn-primarypull-right")%> 
<%= link_to '返回', requirements_path %>
</div>
<% end %>


<h2> <%= @requirement.name %> </h2>
<p> <%= @requirement.description %> </p> 
<% if @requirement.matches %>
 <% if cookies[:user_type]=='S'%>
<input class="btn btn-large btn-primary" name="commit" onclick=addcomment() type="submit" value="点击评价产品匹配度" />
<% end %>
   <% @requirement.matches.each do |match| %>
   <div>
    <p>-------------------------------------</p>
   <p>已匹配的产品：<%=link_to Product.find_by(id:match.product_id).name, product_path(Product.find(match.product_id))%> </p>
   
    <%= form_for(match, url:"/addcomment") do |f| %>
    <div>
   <%= f.radio_button :comments, "1",:disabled=>"disabled"%>特别匹配  
   <%= f.radio_button :comments, "2",:disabled=>"disabled"%>非常匹配  
   </div>
   <div>
   <%= f.radio_button :comments,"3",:disabled=>"disabled"%>匹配  
   <%= f.radio_button :comments,"4",:disabled=>"disabled"%>还可以 
   <input id="match_id" name="match[id]" type="text"  style="display:none" value=<%=match.id%>>
    <input id="match_requirement_id" name="match[requirement_id]" type="text"  style="display:none" value=<%=@requirement.id%>>
   </div>
   
   <div >
   <input class="btn btn-large btn-primary" name="addcomment" style="display:none" type="submit"  value="提交" />
 </div>
   </div>
   <% end %>
   <br>

    <%end%>
    <%end%>


<% if cookies[:user_type]=='P'%>

  <div class='match'>
	<input class="btn btn-large btn-primary" name="commit" onclick=chooseProduct() type="submit" value="添加匹配关系" />
     <br>
     <br>
     <div id="matchreq" style="display:none">
        <%= form_for(:match,url:"/creatematchfromRequirement") do |f| %>
        产品列表：<%= f.select :product_id, @products.collect{|product|[product.name,product.id]}, :prompt=>"请选择" %>
                
           <input id="match_requirement_id" name="match[requirement_id]" type="text"  style="display:none" value=<%=@requirement.id%>>
        <br>
        <br>
        <%=f.submit "创建", class:"btn btn-large btn-primary" %>
        <% end %>
        <br>
     </div>    
   </div>

   <div class='deletematch'>
  <input class="btn btn-large btn-primary" name="commit" onclick=chooseRequirement() type="submit" value="删除匹配关系" />
     <br>
     <br>
     <div id="unmatchreq" style="display:none">
        <%= form_for(:match,url:"/deletematchfromRequirement") do |f| %>
        已匹配的需求列表：<%= f.select :id, @requirement.matches.collect{|match|[Product.find(match.product_id).name,match.id] }, :prompt=>"请选择" %>  
        <input id="match_requirement_id" name="match[requirement_id]" type="text"  style="display:none" value=<%=@requirement.id%>>   
        <br>
        <br>
        <%=f.submit "删除", class:"btn btn-large btn-primary" %>
        <% end %>
        <br>
     </div>    
   </div>
<%end%>

<script>
function chooseProduct()
{
   document.getElementById("matchreq").style.display="block";
}
function chooseRequirement()
{
   document.getElementById("unmatchreq").style.display="block";
}

function addcomment()
{
   var comments = new Array();
   var radiobutton = new Array();
    radiobutton=document.getElementsByName("match[comments]");
    for(k=0;k<radiobutton.length;k++)
      {radiobutton[k].disabled = false};
   comments = document.getElementsByName("addcomment");
    for(i=0;i<comments.length; i++)
      {comments[i].style.display="block";};

    
}


</script>





