
<divclass="span12">
<div class="group">
<%= link_to("编辑", edit_user_path(@user) , :class => "btn btn-mini btn-primarypull-right")%> 
<%= link_to '返回', users_path %>
</div>
<h2> <%= @user.name %> </h2>
<p> <%= @user.email %> </p>

<input class="btn btn-large btn-primary" name="commit" onclick=changePassword() type="submit" value="修改密码" />
	<div class='span6 offset3' id="password" style="display:none">
		<%= form_for(@user) do |f| %>

		<%=f.label :密码 %>
		<%=f.password_field :password,class:"form-control"%>

		<%=f.label :确认密码%>
		<%=f.password_field :password_confirmation,class:"form-control"%>


		<%=f.submit "提交", class:"btn btn-large btn-primary" %>
		<%end%>
	</div>

<script>
function changePassword()
{
	document.getElementById("password").style.display="block"
}
</script>

