<h1> 新建产品 </h1>
 <% if @product.errors.any? %>
    <div id="error_explanation">
    	 <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>
<div class='row'>
	<div class='span6 offset3'>
		<%= form_for(:product,url:products_path) do |f| %>

		<%=f.label :名称 %>
		<%=f.text_field :name,class:"form-control"%>

		<%=f.label :描述%>
		<%=f.text_area :description,class:"form-control", row:"3"%>

		<%=f.submit "创建", class:"btn btn-large btn-primary" %>
		<%end%>
	</div>
</div>