
<divclass="span12">
  <% if cookies[:user_type]=='P'%>
    <div class="group">
    <%= link_to("编辑", edit_product_path(@product) , :class => "btn btn-mini btn-primarypull-right")%> 
    <%= link_to '返回', products_path %>
    </div>
  <%end%>
<h2> <%= @product.name %> </h2>
<p> <%= @product.description %> </p>

  <% if @product.matches %>
     <% @product.matches.each do |match| %>
      <p>---------------------------</p>
      <p>已匹配的需求：<%= Requirement.find_by(id:match.requirement_id).name%> </p>
      <%= form_for(match, url:"/addcomment") do |f| %>
      <div>
         <%= f.radio_button :comments, "1",:disabled=>"disabled"%>特别匹配  
         <%= f.radio_button :comments, "2",:disabled=>"disabled"%>非常匹配  
      </div>
      <div>
         <%= f.radio_button :comments,"3",:disabled=>"disabled"%>匹配  
         <%= f.radio_button :comments,"4",:disabled=>"disabled"%>还可以 
       </div>
        <%end%>
     <%end%>
   <%end%>
  

 <% if cookies[:user_type]=='P'%>
  <div class='match'>
    <br>
	<input class="btn btn-large btn-primary" name="commit" onclick=chooseProduct() type="submit" value="添加匹配关系" />
     <br>
     <br>
     <div id="matchreq" style="display:none">
        <%= form_for(:match,url:"/creatematchfromProduct") do |f| %>
        需求列表：<%= f.select :requirement_id, Requirement.all.collect{|requirement|[requirement.name,requirement.id]}, :prompt=>"请选择" %>      
           <input id="match_product_id" name="match[product_id]" type="text"  style="display:none" value=<%=@product.id%>>
        <br>
        <br>
        <%=f.submit "创建", class:"btn btn-large btn-primary" %>
        <% end %>
        <br>
     </div>    
   </div>

   <div class='deletematch'>
	<input class="btn btn-large btn-primary" name="commit" onclick=chooseRequirement() type="submit" value="删除匹配关系" />
     <br>
     <br>
     <div id="unmatchreq" style="display:none">
        <%= form_for(:match,url:"/deletematchfromProduct") do |f| %>
        已匹配的需求列表：<%= f.select :id, @product.matches.collect{|match|[Requirement.find(match.requirement_id).name,match.id] }, :prompt=>"请选择" %>  
         <input id="match_product_id" name="match[product_id]" type="text"  style="display:none" value=<%=@product.id%>>    
        <br>
        <br>
        <%=f.submit "删除", class:"btn btn-large btn-primary" %>
        <% end %>
        <br>
     </div>    
   </div>
   </div>
<%end%>
<script>
function chooseProduct()
{
   document.getElementById("matchreq").style.display="block";
}
function chooseRequirement()
{
   document.getElementById("unmatchreq").style.display="block";
}

</script>