<!DOCTYPE html>
<html>
<head>
  <title>嘉实财富需求匹配系统</title>
<meta name="viewport" content="width=320px, user-scalable=no, initial-scale=1, maximum-scale=1"> 
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim'%>
</head>
<body>
	<%= render 'layouts/header'%>
	<div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
